.login{
	height: 460px;
	background: #CAD5DD;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}

.login a {
	color: #5A6478;
    display: block;
    margin: 10px auto;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.login label{
	color: #232C46;
	transform: scale(.6);
}

.wrapper {
    width: 400px;
    max-width: 100%;
    position: relative;
}

.wrapper button {
    background: #2F6492;
    position: absolute;
    top:-20px;
    right: 60px;
	width: 15%;
	height: 40px;
}