@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
  width:100%;
}

body {
  @apply bg-blue text-slate-100;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

input {
  outline: none;
  border: 0;
}
